<% if logged_in? && @apidoc_url.present? %>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" scrolling="auto" lazyload="on" src=<%= @apidoc_url %> />
  </div>
<% end %>
